body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 33, 33);
  color:  white;
}

h1 {
  font-size: 3rem;
}

.moves-btn {
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  border-radius: 100rem;
  background-color: rgb(255, 179, 0);
  border: 0.25rem solid white;
  cursor: pointer;
  transition: 0.4s;
}
button:hover {
  box-shadow: 0 0 1rem rgb(255, 179, 0);
}

#moves {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.moves-text, .result {
  margin-bottom: 3rem;
}

.orange {
  color: rgb(255, 179, 0);
}

.powerups {
  display: flex;
  gap: 3rem;

  button {
    border-radius: 100rem;
    padding: 0;
    border: 3px solid white;
    width: 5rem;
    height: 5rem;
    background-size: contain;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
  }

  button:nth-of-type(1) {
    background-image: url("icons/gun.png");
  }

  button:nth-of-type(2) {
    background-image: url("icons/karen.jpg");
  }

  button:nth-of-type(3) {
    background-image: url("icons/zawardudo.jpg");
  }

  img {
    max-width: 7rem;
    border-radius: 100rem;
  }
}

.gun-counter, .karen-counter, .zawarudo-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5rem;
  right: -0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  background-color: rgb(255, 255, 255);
  font-size: 1rem; 
  font-weight: bold;
}

.sidebar {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border: 3px solid white;
  padding: 2rem 1rem;
  max-width: 20rem;
  font-size: 0.7rem;
}

.reset-score {
  align-self: flex-start;
  margin-left: 1rem;
  padding: 0.5rem;
  transition: 0.4s;
  background-color: white;
  font-weight: bold;
  border: none;
}